In [1]:
# load necessary libraries
import pandas as pd
import pprint
import os
import scipy.stats as st
from scipy.stats import linregress

In [2]:
# import csvs
paris_csv = "data/Paris.csv"
bangkok_csv = "data/Bangkok.csv"
newyork_csv = "data/NewYork.csv"
london_csv = "data/London.csv"
hongkong_csv = "data/HongKong.csv"
singapore_csv = "data/Singapore.csv"
instanbul_csv = "data/Instanbul.csv"

In [3]:
# read csv into pandas df
paris_df = pd.read_csv(paris_csv)
bangkok_df = pd.read_csv(bangkok_csv)
newyork_df = pd.read_csv(newyork_csv,low_memory=False)
london_df = pd.read_csv(london_csv)
hongkong_df = pd.read_csv(hongkong_csv)
singapore_df = pd.read_csv(singapore_csv)
instanbul_df = pd.read_csv(instanbul_csv)

In [4]:
# add "city" column to each df 
paris_df["city"] = "paris"
bangkok_df["city"] = "bangkok"
newyork_df["city"] = "newyork"
london_df["city"] = "london"
hongkong_df["city"] = "hongkong"
singapore_df["city"] = "singapore"
instanbul_df["city"] = "instanbul"

In [5]:
# convert price to USD
 
# conversion rate (as of 2023-03-30)

    # London (pounds) 1 pound = 1.24 usd
    # Paris (euro) 1 euro = 1.09 usd
    # Instanbul (lira) 1 lira = 0.052 usd
    # Bangkok (thai baht) 1 thai baht = 0.029 usd
    # Hong Kong (hong kong dollar) 1 hong kong dollar = 0.13 usd
    # Singapore (singapore dollar) 1 singapore dollar = 0.75 usd

In [6]:
# add new york price to new column
newyork_df['price'] = newyork_df['price'].str.replace(',', '').str.replace('$', '')

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\1535222753.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  newyork_df['price'] = newyork_df['price'].str.replace(',', '').str.replace('$', '')

In [7]:
newyork_df['price'] = pd.to_numeric(newyork_df['price'])

In [8]:
newyork_df['USD_price'] = newyork_df['price']

In [10]:
# convert paris
paris_df['price'] = paris_df['price'].str.replace(',', '').str.replace('$', '')

paris_df['price'] = pd.to_numeric(paris_df['price'])
paris_df['USD_price'] = paris_df['price']*1.09

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\562530974.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  paris_df['price'] = paris_df['price'].str.replace(',', '').str.replace('$', '')

In [11]:
# convert london
london_df['price'] = london_df['price'].str.replace(',', '').str.replace('$', '')

london_df['price'] = pd.to_numeric(london_df['price'])
london_df['USD_price'] = london_df['price']*1.24

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\2319280561.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  london_df['price'] = london_df['price'].str.replace(',', '').str.replace('$', '')

In [12]:
# convert instanbul
instanbul_df['price'] = instanbul_df['price'].str.replace(',', '').str.replace('$', '')

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\2484136387.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  instanbul_df['price'] = instanbul_df['price'].str.replace(',', '').str.replace('$', '')

In [13]:
instanbul_df['price'] = pd.to_numeric(instanbul_df['price'])
instanbul_df['USD_price'] = instanbul_df['price']*0.052

In [14]:
# convert bangkok
bangkok_df['price'] = bangkok_df['price'].str.replace(',', '').str.replace('$', '')
bangkok_df['price'] = pd.to_numeric(bangkok_df['price'])
bangkok_df['USD_price'] = bangkok_df['price']*0.029

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\153384976.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  bangkok_df['price'] = bangkok_df['price'].str.replace(',', '').str.replace('$', '')

In [15]:
# convert hong kong
hongkong_df['price'] = hongkong_df['price'].str.replace(',', '').str.replace('$', '')
hongkong_df['price'] = pd.to_numeric(hongkong_df['price'])
hongkong_df['USD_price'] = hongkong_df['price']*0.13

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\849498506.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  hongkong_df['price'] = hongkong_df['price'].str.replace(',', '').str.replace('$', '')

In [16]:
# convert singapore
singapore_df['price'] = singapore_df['price'].str.replace(',', '').str.replace('$', '')
singapore_df['price'] = pd.to_numeric(singapore_df['price'])
singapore_df['USD_price'] = singapore_df['price']*0.75

C:\Users\Stephanie\AppData\Local\Temp\ipykernel_11448\774845305.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  singapore_df['price'] = singapore_df['price'].str.replace(',', '').str.replace('$', '')

In [17]:
#Calculate the average price based on the room type for each city 

newyork_price_mean = newyork_df['USD_price'].groupby(newyork_df['room_type']).mean()
paris_price_mean = paris_df['USD_price'].groupby(paris_df['room_type']).mean()
bangkok_price_mean = bangkok_df['USD_price'].groupby(bangkok_df['room_type']).mean()
london_price_mean = london_df['USD_price'].groupby(london_df['room_type']).mean()
hongkong_price_mean = hongkong_df['USD_price'].groupby(hongkong_df['room_type']).mean()
singapore_price_mean = singapore_df['USD_price'].groupby(singapore_df['room_type']).mean()
instanbul_price_mean = instanbul_df['USD_price'].groupby(instanbul_df['room_type']).mean()

In [18]:
#avarage price per room type for newyork
print(newyork_price_mean)

room_type
Entire home/apt    263.442404
Hotel room         416.164894
Private room       166.102042
Shared room        135.400376
Name: USD_price, dtype: float64

In [19]:
#avarage price per room type for newyork
print(paris_price_mean)

room_type
Entire home/apt    184.031828
Hotel room         331.878054
Private room       140.473325
Shared room         66.611958
Name: USD_price, dtype: float64

In [20]:
#avarage price per room type for newyork
print(bangkok_price_mean)

room_type
Entire home/apt    100.498761
Hotel room          87.820982
Private room        88.873506
Shared room         26.672958
Name: USD_price, dtype: float64

In [21]:
#avarage price per room type for newyork
print(london_price_mean)

room_type
Entire home/apt    278.930981
Hotel room         285.065339
Private room       136.135350
Shared room        120.483969
Name: USD_price, dtype: float64

In [22]:
#avarage price per room type for newyork
print(hongkong_price_mean)

room_type
Entire home/apt    171.019952
Hotel room          63.275952
Private room       262.506425
Shared room        133.962695
Name: USD_price, dtype: float64

In [23]:
#avarage price per room type for newyork
print(singapore_price_mean)

room_type
Entire home/apt    414.218798
Hotel room         803.627907
Private room       158.377273
Shared room         91.506410
Name: USD_price, dtype: float64

In [24]:
#avarage price per room type for newyork
print(instanbul_price_mean)

room_type
Entire home/apt    147.723469
Hotel room         190.001367
Private room        95.749890
Shared room         43.039830
Name: USD_price, dtype: float64

In [25]:
# count number of rows in each df
paris_length = len(paris_df["id"])
bangkok_length = len(bangkok_df["id"])
newyork_length = len(newyork_df["id"])
london_length = len(london_df["id"])
hongkong_length = len(hongkong_df["id"])
singapore_length = len(singapore_df["id"])
instanbul_length = len(instanbul_df["id"])
print(f"paris length: {paris_length}")
print(f"bangkok length: {bangkok_length}")
print(f"newyork length: {newyork_length}")
print(f"london length: {london_length}")
print(f"hongkong length: {hongkong_length}")
print(f"singapore length: {singapore_length}")
print(f"instanbul length: {instanbul_length}")

paris length: 55104
bangkok length: 15854
newyork length: 41533
london length: 71938
hongkong length: 5194
singapore length: 3037
instanbul length: 36717

In [26]:
# find length of all dfs (make sure it matches merged_df)
combined_length = paris_length + bangkok_length + newyork_length + london_length + hongkong_length + singapore_length + instanbul_length
combined_length

# display dataframe 
paris_df.head()
bangkok_df.head()

london_df.head()
hongkong_df.head()
singapore_df.head()
instanbul_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,USD_price
0,27271.0,https://www.airbnb.com/rooms/27271,2.022120e+13,12/31/22,city scrape,Lovely apartment in perfect location,This is a nicely decorated apartment in an an...,Cihangir is one of Istanbul's cosmopolitan sub...,https://a0.muscache.com/pictures/2f9cfc85-8370...,117026,...,5.00,NaN,f,1,1,0,0,0.04,instanbul,51.948
1,28277.0,https://www.airbnb.com/rooms/28277,2.022120e+13,12/31/22,city scrape,Duplex Apartment 11 with Terrace,<b>The space</b><br />The first advantage to s...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,121607,...,4.75,NaN,f,19,18,0,0,0.40,instanbul,92.456
2,28318.0,https://www.airbnb.com/rooms/28318,2.022120e+13,12/31/22,city scrape,Cosy home overlooking Bosphorus,<b>The space</b><br />Easy access to both brid...,Close to Bosphorus University<br />Close to Be...,https://a0.muscache.com/pictures/76617600/0ab5...,121721,...,NaN,NaN,f,1,1,0,0,NaN,instanbul,121.628
3,29241.0,https://www.airbnb.com/rooms/29241,2.022120e+13,12/31/22,city scrape,"↪ Istanbul, Your second house",<b>The space</b><br />There are many interesti...,NaN,https://a0.muscache.com/pictures/12385994/b9ba...,125742,...,NaN,NaN,f,1,0,1,0,NaN,instanbul,48.672
4,30697.0,https://www.airbnb.com/rooms/30697,2.022120e+13,12/31/22,previous scrape,nice home in popular area,<b>The space</b><br />I can ensure you that th...,NaN,https://a0.muscache.com/pictures/6392807/b6f01...,132137,...,NaN,NaN,f,1,0,1,0,0.01,instanbul,103.896

In [27]:
# look at headers
#paris_df.columns 
for x in paris_df.columns: 
    print(x)

id
listing_url
scrape_id
last_scraped
source
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
city
USD_price

In [28]:
# merge into one df
merged_df = pd.concat([paris_df, bangkok_df, newyork_df, london_df, hongkong_df, singapore_df, instanbul_df])
merged_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,USD_price
0,5396.0,https://www.airbnb.com/rooms/5396,2.022120e+13,12/11/22,city scrape,Explore the heart of old Paris,"Cozy, well-appointed and graciously designed s...","You are within walking distance to the Louvre,...",https://a0.muscache.com/pictures/52413/f9bf76f...,7903,...,4.55,7.5104E+12,f,1,1,0,0,1.98,paris,101.37
1,7397.0,https://www.airbnb.com/rooms/7397,2.022120e+13,12/11/22,city scrape,MARAIS - 2ROOMS APT - 2/4 PEOPLE,"VERY CONVENIENT, WITH THE BEST LOCATION !<br /...",NaN,https://a0.muscache.com/pictures/67928287/330b...,2626,...,4.72,7.5104E+12,f,2,2,0,0,2.26,paris,129.71
2,7964.0,https://www.airbnb.com/rooms/7964,2.022120e+13,12/11/22,previous scrape,Large & sunny flat with balcony !,Very large & nice apartment all for you! <br /...,NaN,https://a0.muscache.com/pictures/4471349/6fb3d...,22155,...,5.00,7.5109E+12,f,1,1,0,0,0.04,paris,141.70
3,9359.0,https://www.airbnb.com/rooms/9359,2.022120e+13,12/11/22,city scrape,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",Location! Location! Location! Just bring your ...,NaN,https://a0.muscache.com/pictures/c2965945-061f...,28422,...,NaN,"Available with a mobility lease only (""bail mo...",f,1,1,0,0,NaN,paris,81.75
4,81870.0,https://www.airbnb.com/rooms/81870,2.022120e+13,12/11/22,previous scrape,Saint Germain Musee d'orsay,<b>The space</b><br />This beautiful apartment...,NaN,https://a0.muscache.com/pictures/558458/3c1263...,152242,...,4.00,NaN,f,78,78,0,0,0.01,paris,158.05

In [29]:
merged_df["city"].value_counts()

london       71938
paris        55104
newyork      41533
instanbul    36717
bangkok      15854
hongkong      5194
singapore     3037
Name: city, dtype: int64

In [30]:
# count number of rows to make sure all merged
merged_length = len(merged_df["id"]) 
merged_length

229377

In [31]:
# look at columns 
for x in merged_df.columns: 
    print(x)

id
listing_url
scrape_id
last_scraped
source
name
description
neighborhood_overview
picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
latitude
longitude
property_type
room_type
accommodates
bathrooms
bathrooms_text
bedrooms
beds
amenities
price
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
number_of_reviews_l30d
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
license
instant_bookable
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month
city
USD_price

In [32]:
# delete columns not needed 
delete_columns_df = merged_df.drop(['scrape_id', 'last_scraped', 'source', 'host_id', 'host_url', 'host_location', 'host_about', 
                'host_response_time', 'host_acceptance_rate', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 
                'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 
                'neighbourhood_group_cleansed', 'neighbourhood', 'bathrooms', 'minimum_minimum_nights', 
                'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm',
                'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60',
                'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 
                'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_accuracy', 'license', 'instant_bookable', 'calculated_host_listings_count', 
               'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 
                'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'neighborhood_overview', 
                'minimum_nights', 'maximum_nights', 'price', 'host_listings_count', 'description', 'property_type'], axis=1)
delete_columns_df.head()

,id,listing_url,name,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,...,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,city,USD_price
0,5396.0,https://www.airbnb.com/rooms/5396,Explore the heart of old Paris,https://a0.muscache.com/pictures/52413/f9bf76f...,Borzou,2/14/09,100%,f,Hôtel-de-Ville,48.85247,...,1.0,"[""Cleaning products"", ""Oven"", ""Host greets you...",4.55,4.51,4.79,4.82,4.95,4.55,paris,101.37
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
2,7964.0,https://www.airbnb.com/rooms/7964,Large & sunny flat with balcony !,https://a0.muscache.com/pictures/4471349/6fb3d...,Anaïs,6/18/09,NaN,f,Opéra,48.87417,...,1.0,"[""Cleaning products"", ""Free washer \u2013 In u...",4.80,5.00,5.00,5.00,5.00,5.00,paris,141.70
3,9359.0,https://www.airbnb.com/rooms/9359,"Cozy, Central Paris: WALK or VELIB EVERYWHERE !",https://a0.muscache.com/pictures/c2965945-061f...,Bernadette,7/29/09,NaN,f,Louvre,48.86006,...,1.0,"[""Long term stays allowed"", ""Dedicated workspa...",NaN,NaN,NaN,NaN,NaN,NaN,paris,81.75
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.00,5.00,5.00,5.00,5.00,4.00,paris,158.05

In [33]:
delete_columns_df["city"].value_counts()

london       71938
paris        55104
newyork      41533
instanbul    36717
bangkok      15854
hongkong      5194
singapore     3037
Name: city, dtype: int64

In [34]:
# look at columns 
for x in delete_columns_df.columns: 
    print(x)

id
listing_url
name
picture_url
host_name
host_since
host_response_rate
host_is_superhost
neighbourhood_cleansed
latitude
longitude
room_type
accommodates
bathrooms_text
bedrooms
beds
amenities
review_scores_rating
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
city
USD_price

In [35]:
# remove any rows containing n/a
cleaned_df = delete_columns_df.dropna()
cleaned_df.head()

,id,listing_url,name,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,...,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,city,USD_price
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.00,5.00,5.00,5.00,5.00,4.00,paris,158.05
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.90,4.77,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12

In [36]:
cleaned_df["city"].value_counts()

london       33803
paris        22174
newyork      19842
instanbul    19389
bangkok       8063
hongkong      1772
singapore     1230
Name: city, dtype: int64

In [37]:
# filter by room type
clean_df = cleaned_df.loc[cleaned_df["room_type"].isin(["Private room", "Entire home/apt"])]
clean_df.head()

,id,listing_url,name,picture_url,host_name,host_since,host_response_rate,host_is_superhost,neighbourhood_cleansed,latitude,...,beds,amenities,review_scores_rating,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,city,USD_price
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.00,5.00,5.00,5.00,5.00,4.00,paris,158.05
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.90,4.77,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12

In [38]:
clean_df["room_type"].value_counts()

Entire home/apt    71641
Private room       32374
Name: room_type, dtype: int64

In [39]:
clean_df["city"].value_counts()

london       33556
paris        21591
newyork      19501
instanbul    19016
bangkok       7611
hongkong      1611
singapore     1129
Name: city, dtype: int64

In [40]:
# rename columns 
clean_df.columns = ['Id', 'Listing_Url', 'Name', 'Picture_Url', 'Host_Name', 'Host_Since', 'Host_Response_Rate',
       'Superhost', 'Neighbourhood', 'Latitude', 'Longitude', 'Room_Type', 'Accommodates', 'Bathrooms', 'Bedrooms', 
        'Beds', 'Amenities', 'Review_Scores_Rating', 'Review_Scores_Cleanliness', 'Review_Scores_Checkin',
        'Review_Scores_Communication', 'Review_Scores_Location', 'Review_Scores_Value', 'City', 'Price(USD)']
clean_df.head()

,Id,Listing_Url,Name,Picture_Url,Host_Name,Host_Since,Host_Response_Rate,Superhost,Neighbourhood,Latitude,...,Beds,Amenities,Review_Scores_Rating,Review_Scores_Cleanliness,Review_Scores_Checkin,Review_Scores_Communication,Review_Scores_Location,Review_Scores_Value,City,Price(USD)
1,7397.0,https://www.airbnb.com/rooms/7397,MARAIS - 2ROOMS APT - 2/4 PEOPLE,https://a0.muscache.com/pictures/67928287/330b...,Franck,8/30/08,100%,t,Hôtel-de-Ville,48.85909,...,2.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.72,4.43,4.91,4.88,4.93,4.72,paris,129.71
4,81870.0,https://www.airbnb.com/rooms/81870,Saint Germain Musee d'orsay,https://a0.muscache.com/pictures/558458/3c1263...,Delphine,6/25/10,59%,f,Luxembourg,48.85558,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""C...",5.00,5.00,5.00,5.00,5.00,4.00,paris,158.05
5,9952.0,https://www.airbnb.com/rooms/9952,Paris petit coin douillet,https://a0.muscache.com/pictures/ae822d16-74d2...,Elisabeth,8/24/09,100%,t,Popincourt,48.86373,...,1.0,"[""Oven"", ""Host greets you"", ""Coffee maker"", ""S...",4.91,4.86,4.98,4.84,4.88,4.91,paris,152.60
6,84820.0,https://www.airbnb.com/rooms/84820,Bird's nest in Montmartre: Sun/view all over P...,https://a0.muscache.com/pictures/581023/86105d...,Laure,3/26/11,100%,t,Buttes-Montmartre,48.88238,...,1.0,"[""Free washer \u2013 In unit"", ""Oven"", ""Host g...",4.87,4.86,4.85,4.88,4.90,4.77,paris,90.47
10,86053.0,https://www.airbnb.com/rooms/86053,Charmful flat facing a gothic church,https://a0.muscache.com/pictures/1982057/f94cf...,Richard,11/23/10,100%,t,Louvre,48.86033,...,2.0,"[""Baking sheet"", ""Children\u2019s books and to...",4.87,4.76,4.95,4.95,4.99,4.86,paris,292.12

In [41]:
# export cleaned_df (encoding because of french characters)
clean_df.to_csv("clean.csv", index=False, header=True, encoding='utf-8-sig')

In [42]:
#generate the dataframe based on the room type for each city 

room_type_city=clean_df['Room_Type'].groupby(clean_df['City']).value_counts()
room_type_city_df = pd.DataFrame(room_type_city)
room_type_city_df

                           Room_Type
City      Room_Type
bangkok   Entire home/apt       5477
          Private room          2134
hongkong  Private room           859
          Entire home/apt        752
instanbul Entire home/apt      14039
          Private room          4977
london    Entire home/apt      20895
          Private room         12661
newyork   Entire home/apt      11441
          Private room          8060
paris     Entire home/apt      18605
          Private room          2986
singapore Private room           697
          Entire home/apt        432

In [43]:
# export cleaned_df (encoding because of french characters)
room_type_city.to_csv("room_type_city.csv", index=True, header=True,sep=',')

In [44]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the price for each city

price_mean = clean_df['Price(USD)'].groupby(clean_df['City']).mean()
price_median = clean_df['Price(USD)'].groupby(clean_df['City']).median()
price_var = clean_df['Price(USD)'].groupby(clean_df['City']).var()
price_std = clean_df['Price(USD)'].groupby(clean_df['City']).std()
price_sem = clean_df['Price(USD)'].groupby(clean_df['City']).sem()

# Assemble the resulting series into a single summary DataFrame.

summary_stat_df = pd.DataFrame({"Mean price":price_mean, 
                            "Median price":price_median, 
                           "Price Variance":price_var, 
                           "Price Std. Dev.":price_std, 
                           "Price Std. Err.":price_sem})
summary_stat_df

,Mean price,Median price,Price Variance,Price Std. Dev.,Price Std. Err.
City,,,,,
bangkok,93.555406,42.485,7.549744e+05,868.892613,9.959677
hongkong,434.640435,80.470,1.330521e+07,3647.630870,90.878911
instanbul,122.364373,61.958,1.697809e+06,1302.999832,9.448977
london,239.216252,155.000,4.024616e+05,634.398600,3.463196
newyork,216.803036,144.000,1.067608e+06,1033.251095,7.399075
paris,222.806371,153.690,7.204393e+05,848.786987,5.776467
singapore,352.753764,109.500,1.443316e+07,3799.100232,113.066456

In [45]:
# export cleaned_df (encoding because of french characters)
summary_stat_df.to_csv("summary_stat_df.csv", index=True, header=True,columns=None,encoding='utf-8-sig')

In [46]:
# Using the aggregation method, produce the same summary statistics in a single line.

summary_aggr_df=clean_df.groupby("City")[["Price(USD)"]].agg(["mean", "median", "var", "std", "sem"])
summary_aggr_df

           Price(USD)
                 mean   median           var          std         sem
City
bangkok     93.555406   42.485  7.549744e+05   868.892613    9.959677
hongkong   434.640435   80.470  1.330521e+07  3647.630870   90.878911
instanbul  122.364373   61.958  1.697809e+06  1302.999832    9.448977
london     239.216252  155.000  4.024616e+05   634.398600    3.463196
newyork    216.803036  144.000  1.067608e+06  1033.251095    7.399075
paris      222.806371  153.690  7.204393e+05   848.786987    5.776467
singapore  352.753764  109.500  1.443316e+07  3799.100232  113.066456